
<div class="header" > 
  <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      
  
        
          <a class="nav-link" routerLink="home" >Home</a>
        
        
          <a class="nav-link" routerLink="users" >UserDetails</a>

          <a class="nav-link" routerLink="login" >Login</a>
        
        
          <a class="nav-link" routerLink="add-user">Add User</a>
        
        
          <a class="nav-link" routerLink="register">SignUp</a>
        
        
          
        
  
      
    </div>
  </nav>


</div>


<router-outlet></router-outlet>






<footer>
  <p  class="text-xs-center">© Copyright 2020. All rights reserved.</p>
</footer>