<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Stock Market</title>
    
</head>
<body>
    <form  onsubmit="return checkform(this);">

        First name:<br>
        <input type="text" name="firstname"><br>
        Email:<br>
        <input type="email" name="emailaddress"><br>
        Phone Number:<br>
        <input type="tel" name="tel"><br>
        Password:<br>
        <input type="password" name="psd"><br>
        Re-Enter Password:<br>
        <input type="password" name="psdagain"><br>
        <br>
    <div class="capbox">

    <div id="CaptchaDiv"></div>

    

    <input type="submit" name="submit"><br>

    
    </div>
<br><br>

      </form>




      
        
</body>
</html>