






<div class="row mb-5">
    <div class="col-6 my-3">
               
       <div class="card my-card border border-curved text-center btn btn-outline-primary" >
           <div class="card-body">
               <h4 class="card-title display-4" routerLink="/import">Import Data</h4>
           </div>
       </div>
       
   </div>
   <div class="col-6 my-3">    
               
       <div class="card my-card border border-curved text-center btn btn-outline-primary" >
           <div class="card-body">
               <h4 class="card-title display-4" routerLink="/addnewcompany">CreateCompany</h4>  
           </div>
       </div>
       
   </div>
   <div class="col-6 my-3">
               
       <div class="card my-card border border-curved text-center btn btn-outline-primary" >
           <div class="card-body">
               <h4 class="card-title display-4" routerLink="/stockprice">Stock Price</h4>
           </div>
       </div>
   </div>
   <!-- <div class="col-6 my-3">
               
       <div class="card my-card border border-curved text-center btn btn-outline-primary" onclick="location.href='sector'">
           <div class="card-body">
               <h4 class="card-title display-4">Sector</h4>
           </div>
       </div>
   </div> -->
   <div class="col-6 my-3">
               
       <div class="card my-card border border-curved text-center btn btn-outline-primary" >
           <div class="card-body">
               <h4 class="card-title display-4" routerLink="/stockexchange">Stock Exchange</h4>
           </div>
       </div>
   </div>
   <div class="col-6 my-3">
               
       <div class="card my-card border border-curved text-center btn btn-outline-primary" >
           <div class="card-body">
               <h4 class="card-title display-4" routerLink="/ipo">IPO</h4>
           </div>
       </div>
   </div>
</div>
